* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex: 1;
}
#content {
  display: flex;
  flex: 1;
}
/* Color Palette */
/* Fonts */
/* Text Styling */
/* Default Text Styles */
h1 {
  text-align: left;
  font-family: 'Raleway', 'Arial', sans-serif;
  font-size: 24pt;
  color: #212121;
  padding: 4px;
}
h2 {
  text-align: left;
  font-family: 'Raleway', 'Arial', sans-serif;
  font-size: 18pt;
  color: #212121;
  padding: 4px;
}
h3 {
  text-align: left;
  font-family: 'Raleway', 'Arial', sans-serif;
  font-size: 16pt;
  color: #727272;
  padding: 4px;
}
h4 {
  text-align: left;
  font-family: 'Raleway', 'Arial', sans-serif;
  font-size: 14pt;
  color: #727272;
  padding: 4px;
}
h5 {
  text-align: left;
  font-family: 'Raleway', 'Arial', sans-serif;
  font-size: 12pt;
  color: #727272;
  padding: 4px;
}
h6 {
  text-align: left;
  font-family: 'Raleway', 'Arial', sans-serif;
  font-size: 8pt;
  color: #727272;
  padding: 4px;
}
p {
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-size: 14pt;
  color: #727272;
  padding: 4px;
}
li {
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-size: 14pt;
  color: #727272;
  padding: 4px;
  padding-left: 20px;
}
.dateselector-container {
  position: relative;
  width: auto;
  height: 75px;
  background-color: #FFFFFF;
}
.date-field-container {
  position: relative;
  float: left;
  height: 50px;
  padding: 0 12px;
  margin: 2px 0 2px 25px;
  border: 1px solid #cccccc;
}
.date-field-label {
  position: absolute;
  top: -7px;
  left: 15px;
  padding: 0;
  background-color: #FFFFFF;
}
.dateinterval-text {
  position: relative;
  float: left;
  min-width: 125px;
  height: 50px;
  padding: 0 12px;
  margin: 2px 0 2px 4px;
}
