/* MethaChart Style Sheet */


// http://meyerweb.com/eric/tools/css/reset/
// v2.0 | 20110126
// License: none (public domain)
//--------------------------------------------------------
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

html {
  height: 100vh;
  width: 100vw;
}

body {
  height: 100vh;
  width: 100vw;
}

#content {
  height: 100vh;
  width: 100vw;
}

/* Color Palette */
@primary-color: #FF5722;
@dark-primary-color: #f41d1b;
@light-primary-color: #FFCCBC;
@text-icons-color: #FFFFFF;
@accent-color: #FFC107;

@primary-text-color: #212121;
@secondary-text-color: #727272;
@divider-color: #B6B6B6;

@standard-white: #FFFFFF;
@inactive-text-color: #d0d0d0;

/* Fonts */
@header-font-family: 'Raleway', 'Arial', sans-serif;
@body-font-family: 'Droid Serif', serif;
@body-font-family-sans: 'Roboto', sans-serif;;
@font-xxl: 64pt;
@font-xl: 48pt;
@font-l: 24pt;
@font-ml: 18pt;
@font-m: 16pt;
@font-ms: 14pt;
@font-s: 12pt;
@font-xs: 10pt;
@font-xxs: 6pt;

/* Text Styling */
@text-body-letter-spacing: 0.05em;
@text-body-leading-spacing: 1.6em;
@standard-text-padding: 4px;

/* Default Text Styles */
h1 {
  text-align: left;
  font-family: @header-font-family;
  font-size: @font-l;
  color: @primary-text-color;
  padding: @standard-text-padding;
}
h2 {
  text-align: left;
  font-family: @header-font-family;
  font-size: @font-ml;
  color: @primary-text-color;
  padding: @standard-text-padding;
}
h3 {
  text-align: left;
  font-family: @header-font-family;
  font-size: @font-m;
  color: @secondary-text-color;
  padding: @standard-text-padding;
}
h4 {
  text-align: left;
  font-family: @header-font-family;
  font-size: @font-ms;
  color: @secondary-text-color;
  padding: @standard-text-padding;
}
h5 {
  text-align: left;
  font-family: @header-font-family;
  font-size: @font-s;
  color: @secondary-text-color;
  padding: @standard-text-padding;
}
h6 {
  text-align: left;
  font-family: @header-font-family;
  font-size: @font-xs;
  color: @secondary-text-color;
  padding: @standard-text-padding;
}
p {
  text-align: left;
  font-family: @body-font-family-sans;
  font-size: @font-s;
  color: @secondary-text-color;
  padding: @standard-text-padding;
}
ol {
  margin-left: 50px;
}
li {
  text-align: left;
  font-family: @body-font-family-sans;
  font-size: @font-s;
  color: @secondary-text-color;
  padding: @standard-text-padding;

}


// Animations
.fade-in-opacity {
  -moz-animation-name: fadeInOpacity;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease-out;
  -moz-animation-duration: 0.5s;

  -webkit-animation-name: fadeInOpacity;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-duration: 0.5s;

  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 0.5s;
}
@-moz-keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}