/* MethaChart Style Sheet */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
html {
  height: 100vh;
  width: 100vw;
}
body {
  height: 100vh;
  width: 100vw;
}
#content {
  height: 100vh;
  width: 100vw;
}
/* Color Palette */
/* Fonts */
/* Text Styling */
/* Default Text Styles */
h1 {
  text-align: left;
  font-family: 'Raleway', 'Arial', sans-serif;
  font-size: 24pt;
  color: #212121;
  padding: 4px;
}
h2 {
  text-align: left;
  font-family: 'Raleway', 'Arial', sans-serif;
  font-size: 18pt;
  color: #212121;
  padding: 4px;
}
h3 {
  text-align: left;
  font-family: 'Raleway', 'Arial', sans-serif;
  font-size: 16pt;
  color: #727272;
  padding: 4px;
}
h4 {
  text-align: left;
  font-family: 'Raleway', 'Arial', sans-serif;
  font-size: 14pt;
  color: #727272;
  padding: 4px;
}
h5 {
  text-align: left;
  font-family: 'Raleway', 'Arial', sans-serif;
  font-size: 12pt;
  color: #727272;
  padding: 4px;
}
h6 {
  text-align: left;
  font-family: 'Raleway', 'Arial', sans-serif;
  font-size: 10pt;
  color: #727272;
  padding: 4px;
}
p {
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-size: 12pt;
  color: #727272;
  padding: 4px;
}
ol,
ul {
  margin-left: 50px;
}
li {
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-size: 12pt;
  color: #727272;
  padding: 4px;
}
.fade-in-opacity {
  -moz-animation-name: fadeInOpacity;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease-out;
  -moz-animation-duration: 0.5s;
  -webkit-animation-name: fadeInOpacity;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-duration: 0.5s;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 0.5s;
}
@-moz-keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fade-in-out-opacity {
  -moz-animation-name: fadeInOutOpacity;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease-out;
  -moz-animation-duration: 4s;
  -webkit-animation-name: fadeInOutOpacity;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-duration: 4s;
  animation-name: fadeInOutOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 4s;
}
@-moz-keyframes fadeInOutOpacity {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 100;
  }
  80% {
    opacity: 100;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fadeInOutOpacity {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 100;
  }
  80% {
    opacity: 100;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeInOutOpacity {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 100;
  }
  80% {
    opacity: 100;
  }
  100% {
    opacity: 0;
  }
}
