.titlebar {
  display: flex;
  justify-content: space-between;
  height: 40px;
  width: 100vw;
  padding-left: 10px;
  background-color: #212121;
  border-bottom: 2px solid #cf2d36;
  -webkit-user-select: none;
  -webkit-app-region: drag;
}
.draggable {
  -webkit-user-select: none;
  -webkit-app-region: drag;
}
.topnav-container {
  align-self: flex-start;
  align-items: flex-start;
  display: flex;
  flex-flow: row-reverse;
  background-color: transparent;
  height: 40px;
  -webkit-app-region: drag;
}
.topnav-button {
  width: 35px;
  height: 30px;
  padding: 0;
  background-color: transparent;
  border-top: none;
  border-right: none;
  border-left: 1px solid #0D0D0D;
  border-bottom: 1px solid #0D0D0D;
  outline: none;
  -webkit-app-region: no-drag;
}
.topnav-button:hover {
  background-color: #444452;
}
.topnav-button:active {
  background-color: #0f0f14;
}
.topnav-button-close:hover {
  background-color: red;
}
.topnav-divider {
  height: 20px;
  width: 1px;
  margin: 0 5px;
  border-left: 1px solid #39393f;
}
